<h1>Snowboarding Blog</h1>
<br />

<ul>
  <% @blogs.each do |blog| %>
  <li><%= blog.title %></li>
  <% end %>
  <p>Big Bear Lake, CA</p>
  <p>North Lake Tahoe, NV</p>
  <p>Park City, UT</p>
  <p>Breckenridge, CO</p>
</ul>